<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabMachiConnHCLAB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="LabMachiConnBeam.Properties.Settings.ConnectionString" connectionString="server=192.168.150.53;user id=hisuser;password=ca@2014;database=basedata;persistsecurityinfo=True"/>
        <!--正式-->
        <add name="DefaultConnection" connectionString="server=192.168.150.53;user id=hisuser;password=ca@2014;database=basedata;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
        <!--測試-->
        <!--<add name="DefaultConnection" connectionString="server=192.168.72.20;user id=hisuser;password=ca@2014;database=basedata;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>-->
    </connectionStrings>
    <applicationSettings>
        <LabMachiConnHCLAB.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>server=192.168.150.53;user id=hisuser;password=ca@2014;database=basedata;persistsecurityinfo=True</value>
            </setting>
        </LabMachiConnHCLAB.Properties.Settings>
    </applicationSettings>
</configuration>